[submodule "src/rplidar_ros"]
	path = src/rplidar_ros
	url = https://github.com/Slamtec/rplidar_ros.git
	branch = ros2
[submodule "src/scan_tools"]
	path = src/scan_tools
	url = https://github.com/CCNYRoboticsLab/scan_tools.git
